html {
    font-size: 10pt;
    
  }


body {
    background-color: rgb(193, 193, 193);
    width: 800px;
    font-size: 24pt;
    cursor: url('野馆画板1.png'), default;

}

article {
    
    font-size: 10pt;
}

p {
    color: rgba(255, 0, 0, 0.5);
    width: 50%;
    background-color: white;
    font-size: 0.5rem;
}

  h1 {
    font-size: 15px;
    

  }

  .myclass{
    color: aqua;

  }
  p:hover {
    color: red;
  }

a {
    color: rgb(251, 255, 0)
  }